.custom-search {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  width: '100%';
}

.custom-search-input {
  width: 84%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  outline: none;
}

.custom-search-botton {
  width: 15%;
  background: #FFCA1A;
  color: #fff;
  outline: none;
  border: none;
  padding: 0 0.625rem;
  border-radius: 0.3125rem;
}

.custom-list {
  cursor: pointer;

  padding: 0.625rem;
  font-size: 0.875rem;
  color: '#686D76';
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  font-family: 'Courier New';
}

::placeholder {
  font-family: 'Courier New';
}

.list-container {
  position: relative;
  background-color: #F6F5F2;
}

input[type="text"] {
  font-family: 'Courier New';
}

.delete-icon {
  position: absolute;
  cursor: pointer;
  top: 0.625rem;
  right: 0.625rem
}

.todo-container {
  height: 37.5rem;
  width: 25rem;
  background-color: white;
  padding: 1.25rem;
  overflow: scroll
}

.container {
  display: flex;
  justify-content: center;
  height: 100svh;
  height: 100vh;
  background-color: #FCF4A3;
  align-items: center
}

.title-box{
  display: flex;
  justify-content: space-between;
}
.clear-all{
  cursor: pointer;
  font-size:  0.725rem;
}
.title{
  width: '90%'
}